body {
    background-color: rgb(12, 12, 12); 
}

.reg ,.login{
    background-color: rgb(238, 204, 11);
    border-radius: 20px;
    padding: 15px;
}

h1, h2{
    background-color: #050bcb;
    margin: 10px;
    margin-bottom: -5px;
    padding: 15px;
    border-radius: 20px;
    color: whitesmoke;
}

