<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class='container'>
        <div class='row'>
            <div class="col-md-6 offset-md-3 text-center">
                <div class='row'>
                    <div class='col'>
                        <h1>Welcome To Improv Games</h1><br>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <h2>Please login or register</h2><br>
                    </div>
                </div>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                <div class="reg">
                    <h3>Registration Form</h3>
                    <form action='/register' method='POST'>
                        {% csrf_token %}
                        First Name: <input type='text' name='first_name'><br>
                        Last Name: <input type='text' name='last_name'><br>
                        Email: <input type='email' name='email'><br>
                        Username: <input type='text' name='username'><br>
                        Password: <input type='password' name='password'><br>
                        Confirm Password: <input type='password' name='confirm_password'><br><br>
                        <input type='submit'>

                    </form>
                </div><br>

                <div class="login">
                    <h3>Login Form</h3>
                    <form action='/login' method='POST'>
                        {% csrf_token %}
                        Username: <input type='text' name='username'><br>
                        Password: <input type='password' name='password'><br><br>
                        <input type='submit'>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>